@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;

}

:root {
    font-family: "Poppins", sans-serif;
    color: #1f2020;

    --body-color: #2c2d2a;
    /*--savanna-bg: #e9bf8b;*/
    --savanna-bg: #e86357;
    /*--beach-bg: #e7dfcf;*/
    --beach-bg: #e8acff;
    /*--glacier-bg: #b6d6c8;*/
    --glacier-bg: #8cc9c8;
    --coral-bg: #e86357;
    --arrow-fill: #333231;
    --body-font: "Montserrat", sans-serif;
    --italic-font: "EB Garamond", serif;
}

/*body{
    background-color: #fff7f0;
}*/

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--body-color);
}

h1,
h2,
h3 {
    margin: 0;
}

body {
    font-family: var(--body-font);
    /*background-color: #fff7f0;*/
    background-image: url("/ClientSide/Images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Стили для скролл-бара */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Положение изображения и текста */
.image-container {
    text-align: center;
    position: relative;
    margin-top: -10%; /* Переместим внутренний контейнер вниз, чтобы избежать перекрытия текста */
}

.main-text {
    font-size: 50px;
    color: #fff;
    cursor: default;
    margin-bottom: 10px;
}

.info-tiser {
    font-size: 23px;
    color: #fff;
    cursor: default;
    margin-bottom: 10px;
}

.info-more{
    font-size: 15px;
    color: #fff;
    cursor: default;
    
}
.info-more a{
    
    color: #8cc9c8;
    text-decoration: underline;
}

/* Размер и положение логотипа */
.image-container img.lex-logo {
    /*position: absolute;*/
    left: 50%; /* По центру горизонтально */
    margin-bottom: 10%;
    max-width: 30%;
    z-index: 2; /* Установим z-index выше, чтобы логотип был над текстом */
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование по вертикали */
    align-items: center; /* Центрирование по горизонтали */
    text-align: center; /* Центрирование текста внутри контейнера */
    
    padding: 0 30px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}


@media (max-width: 480px) {
    .container {
        height: 100%;
        max-height: 100%;
    }
}

