@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;900&display=swap");

*{
    padding: 0;
    margin: 0;
}

:root {
    font-family: "Poppins", sans-serif;
    color: #1f2020;
}

:root {
    --file-grid-tile-min-width: 272px;
}

body{
    background: #eeedde;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,select,button,textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: inherit;
    outline: none;
    letter-spacing: inherit;
    text-decoration: none;
    cursor: inherit
}

div {
    display: block;
}

.auth_app_view--brand--RXyIK {
    background-color: var(--color-bg, #fff);
}

.simple_page--page--g51bp {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    font: 400 11px/16px Inter,sans-serif;
    color: #333;
    background-color: #f0f0f0;
}

.auth_branding--brand--aXUkB {
    font-family: Whyte,sans-serif!important;
}

.auth_app_view--authView---vFX8.auth_app_view--brand--RXyIK {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-top: 15vh;
    margin: auto;
    width: 100%;
}

.auth_app_view--brand--RXyIK {
    background-color: #FFF7F0; /* web background color */
}

.auth_branding--brand--aXUkB {
    font-family: Whyte,sans-serif!important;
}

.auth_view--centerText--x3Gm1 {
    text-align: center;
}

.auth_form--form--JGV3n {
    padding: 0 32px;
}

.auth_form--modal--0H4Cp {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 36px;
    font-size: 16px;
    min-height: 120px;
    -webkit-font-smoothing: antialiased;
    margin-right: auto;
    margin-left: auto;
}

.auth_form--header--j71jN {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*font-family: Whyte,sans-serif;        
    color: var(--color-text, #000);*/
    font-size: 32px;
    line-height: 38px;
    font-weight: 800;
    text-align: center;
    /*inline-size: min(140%, calc(100vw - 2rem));*/
    /*overflow-wrap: break-word;
    hyphens: manual;
    position: relative;*/
    margin-bottom: 24px;
}

.auth_form--error--Ld3sn {
    margin-bottom: 16px;
    color: var(--color-text-danger, #ff5d5d);
    font-size: 16px;
    text-align: left;
}

.btn {
    position: relative;
    border: 2px solid #1f2020;
    border-radius: 3px;
    box-shadow: 3px 3px 0px #25282a;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    transition: 200ms ease;
    z-index: 2;
    background-color: #fff; /* #5eb0e5 */
}

.btn:active {
    box-shadow: -2px -2px 0px #25282a;
    transform: translate(2px, 2px);
}

.btn.hover-effect::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #1f2020;
    transform-origin: bottom right;
    transition: 100ms ease-in-out;
    mix-blend-mode: screen;
    z-index: 1;
    clip-path: ellipse(0px 0px at bottom center);
}

.btn.hover-effect:hover:before {
    clip-path: ellipse(50% 100% at bottom center);
}
.btn.hover-effect:active:before {
    background-color: #25282a;
    mix-blend-mode: color-dodge;
}

.btn-create{
    position: relative;
    border: 2px solid #1f2020;
    border-radius: 3px;
    box-shadow: 3px 3px 0px #25282a;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    transition: 200ms ease;
    z-index: 2;
    background-color: #f2c00f;
}
.btn-create:active{
    box-shadow: -2px -2px 0px #25282a;
    transform: translate(2px, 2px);
}
.btn-create.hover-effect::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #1f2020;
    transform-origin: bottom right;
    transition: 100ms ease-in-out;
    mix-blend-mode: screen;
    z-index: 1;
    clip-path: ellipse(0px 0px at bottom center);
}
.btn-create.hover-effect:hover:before {
    clip-path: ellipse(50% 100% at bottom center);
}
.btn-create.hover-effect:active:before {
    background-color: #25282a;
    mix-blend-mode: color-dodge;
}

.auth_branding--brand--aXUkB button:not([aria-haspopup="listbox"]) {
    transition: transform .2s;
    transform: translateZ(0);
}

.auth_view--brandButton--K2XZu {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.auth_view--brandButtonBase--yT1mh {
    height: 48px;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-weight: 700;
    border-radius: 8px;
}

.auth_view--fullWidth--HrOJA {
    width: 100%;
}

/*.auth_branding--brand--aXUkB {
    font-family: Whyte,sans-serif!important;
}*/

.landing_form--googleButtonInner--AsRMV {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing_form--googleIcon--9QGPz {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 12px;
}

.svg--autoscale--bb7pC>svg {
    width: 100%;
    height: 100%;
}

svg {
    display: block;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.sign_in_and_up--orBlock--BD8ed {
    display: block;
    height: 60px;
    width: 100%;
    font-size: 16px;
    line-height: 60px;
    color: var(--color-text-secondary, #666);
}

.landing_form--googleText--AqjKH {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form_inputs--input--aJLJl {
    border: 3px solid var(--color-border-strong, #000);
    border-radius: 5px;
    height: 50px;
    line-height: normal;
}

.form_inputs--input--aJLJl {
    color: var(--color-text, #282828);
    display: block;
    width: 100%;
    padding-left: 12px;
    box-sizing: border-box;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    font-size: 16px;
}

.auth_branding--brand--aXUkB {
    font-family: Whyte,sans-serif!important;
}

/*.basic_form--textInput--yi6hu {
    color: var(--color-text, #333333);
    border: 1px solid var(--color-border, #e5e5e5);
    padding: 0 6px;
    background-color: var(--color-bg, white);
}*/

/*.basic_form--input--OZaHD {
    height: 30px;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 11px;
}*/

.lazy_input--lazyInput--Ltb6r {
    cursor: auto;
}

.extra_info--checkboxGroupCentered--XQhF4 {
    justify-content: center;
}

.extra_info--checkboxGroup--hgWAz {
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
    align-items: flex-start;
    cursor: pointer;
    width: 100%;
}

.extra_info--checkbox--xK3ti:not(:checked):not(:focus) {
    border: 2px solid var(--color-border-strong, #000);
}

/*.extra_info--checkbox--xK3ti:checked:not(:focus) {
    border: 3px solid var(--color-border-selected, #ffc29f);
}*/

.extra_info--checkbox--xK3ti:checked {
    background-color: var(--color-border-selected, #ffc29f);
    background-image: url("../Images/checkbox_check_large.svg");
    border: 2px solid var(--color-border-strong, #000);
    background-position: center;
    background-repeat: no-repeat;
}

.extra_info--checkbox--xK3ti {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: checkbox;
    margin-right: 16px;
    margin-top: 2px;
    flex-shrink: 0;
    content: "";
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--color-bg, white);
    cursor: pointer;
}

.extra_info--checkboxLabel--8UMbG {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text, #000);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    cursor: pointer;
}

.sign_in_and_up--termsWrapper--hqtWw {
    display: inline;
}

.sign_in_and_up--termsFlattened--wKqX8 {
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
}

.auth_view--footerText--Sw8Jj {
    color: var(--color-text-secondary, rgba(0, 0, 0, .6));
    font-size: 12px;
}

.sign_in_and_up--termsWrapper--hqtWw a {
    color: var(--color-text-brand, #5551ff);
    text-decoration: none;
}

.auth_branding--brand--aXUkB a {
    font-size: 12px;
    cursor: pointer;
    color: var(--color-text-brand, #5551ff);
}

.sign_in_and_up--termsLink--FmLXT {
    color: var(--color-text-brand, #5551ff);
    text-decoration: underline;
    cursor: default;
}

.auth_view--footer--N6AOZ {
    width: 100%;
}

.auth_view--footerButtonRow--eayM0 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign_in_and_up--switchFormText--c6YBI {
    font-size: 16px;
}

.auth_view--footerText--Sw8Jj {
    color: var(--color-text-secondary, rgba(0, 0, 0, .6));
    font-size: 12px;
}

.sign_in_and_up--footerRow--gzwj7 a {
    font-size: 16px;
}

.auth_branding--brand--aXUkB a {
    font-size: 12px;
    cursor: pointer;
    color: var(--color-text-brand, #5551ff);
}

.sign_in_and_up--switchFormLink--A3Rui {
    margin-left: 4px;
}

.sign_in_and_up--link--Uyy3C {
    color: var(--color-text-brand, #5551ff);
    cursor: pointer;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}
